services:
  astech:
    image: python:3.8
    container_name: ${PROJECT}
    hostname: ${PROJECT}
    volumes:
      # Fichier de conf
      # Repertoire hapipmi
      # requierement
      - ${DOHAPIMIEKERNEL}:/srv/hapimie/hapimie:ro
      - ${DOHAPIMIEASTEC}:/srv/hapimie/astech:ro
      - ${DOHAPIMIETC}:/usr/local/etc/hapimie:ro
    ports:
      - "${BIND:-0.0.0.0:8888}:8888"
    env_file:
      - ${DOHAPIMIEENV}
    restart: always
    working_dir: /srv/hapimie/${APPLI:-hapimie}
    #command: /bin/bash -c "pip install -r requirements.txt && /srv/hapimie/kernel/hapimie"
    command: /bin/bash -c "pip install -r /srv/hapimie/hapimie/requirements.txt && /srv/hapimie/${APPLI:-hapimie}/${APPLI:-hapimie}"
    logging:
      driver: syslog
      options:
        syslog-address: udp://127.0.0.1:514
        syslog-format: "rfc3164"
        syslog-facility: local0
        tag: ${PROJECT}

