PROJECT=astech
DOHAPIMIEKERNEL=/home/_Docker/hapimie/hapimie
DOHAPIMIEASTEC=/home/_Docker/hapimie/astech
DOHAPIMIETC=/home/_Docker/hapimie/
DOHAPIMIECFG=/home/_Docker/hapimie/hapimie.cfg
#APPLI=astech       # Permit to push another frontend to add capabilites (other DB manager, etc)
