PROJECT=astech
DOHAPIMIEKERNEL=/home/adlp/Projets/hapimie/kernel
DOHAPIMIEASTEC=/home/adlp/Projets/hapimie/astech
DOHAPIMIECFG=/home/adlp/Projets/hapimie/hapimie.cfg
#RUNIT=/srv/hapimie/astech/astech
