{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Connexion locale</h2>
<form method="post" action="/login/localback">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>

<hr>

<h2>Connexion via Authentik</h2>
{% if authentik_url %}
<button type="button" onclick="window.location.href='{{ authentik_url }}?client_id={{ oidc_client_id }}&redirect_uri={{ oidc_redirect_uri }}&response_type=code&scope=profile%20email%20openid'">
    Login via Authentik
</button>
{% endif %}
{% endblock %}
