{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="login-box">
    <h2>Connexion</h2>
    <!-- Formulaire classique -->
    <form method="post" action="/login">
        <input type="hidden" id="mth" name="mth" value="pwd" />
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <!-- Bouton Authentik affiché seulement si la variable est définie -->
    {% if auth %}
    <div class="authentik">
        <form method="post" action="/login">
            <input type="hidden" id="mth" name="mth" value="{{auth}}" />
            <button type="submit">Login via {{auth}}</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
