{% extends "base.html" %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
  {% if name %}
  <h1>Bienvenue {{ name }}</h1>
  {% else %}
  <h3>Attention.... vous n'etes pas logué, certaines fonctions seront limitées</h3>
  {% endif %}


  <table id="commands-table">
    <thead>
      <a href="/dial">On lance un appel</a></p>
      <a href="/ligne">Lignes</a></p>
      <a href="/queue">Queues</a></p>
      <a href="/endpoints">endpoints</a></p>
      <a href="/dbview">database</a></p>
      <a href="/docs">sa Swwwaaagg</a></p>
      <a href="/json">json en api...</a></p>
    </thead>
    <tbody></tbody>
  </table>

{% endblock %}

